[user]
    name = Tsvetoslav Dimov
    email = baskski@gmail.com

[core]
    excludesFile = ~/.gitignore

[url "github-personal"]
    insteadOf = git@github.com

[includeIf "gitdir:~/repos-work/"]
    path = ~/repos-work/.gitconfig
